<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div id="whole">
    <h2>Details Form </h2>



    <hr id="hr1" style="height:1px;border-width:0;color:black;background-color:black">

    <div id="my-form">
        <form name="form" id="form1">
            <label>Name: </label> <input type="text" id="name" placeholder="Enter your name">
            <br />
            <br />
            <br />



            <label>Mob. No. :</label> <input type="number" id="phone" placeholder="Enter your mob no.">
            <br />
            <br />
            <br />
            <label>Email ID: </label> <input type="email" id="email" placeholder="Enter your mail id">
            <br />
            <br />
            <br />

            <input type="button" class="button" value="Submit" onclick="displayValue()">
        </form>
    </div>
    <br />

    <hr id="hr2" style="height:2px;border-width:0;color:black;background-color:black" />
</div>
<div id=disout>
    <table id="list" cellspacing= "5px" cellpadding="30px">
        <thead>

        <tr>
            <td>Name</td>
            <td>Mobile no</td>
            <td>Email ID</td>
        </tr>
</div>

<script type="text/javascript" src="index.js"></script>
</body>
</html>